<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pensar-alho</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <nav class="navbar">
      <a href="/"><h1>Pensar-alho</h1></a>
      <ul>
        <li><a href="/">Pensamentos</a></li>
        {{#if session.userid}}
          <li><a href="/toughts/dashboard">Dashboard</a></li>
          <li><a href="/logout">Sair</a></li>
        {{else}}
          <li><a href="/login">Entrar</a></li>
          <li><a href="/register">Criar Conta</a></li>
        {{/if}}
      </ul>
    </nav>
    <div class="container">
      {{! Messagens }}
      {{#if messages.message}}
        <div class="message">
          {{messages.message}}
        </div>
      {{/if}}
      {{{body}}}
    </div>
    <footer>
      <p><span style="color:#f6982d ;"> Pensar-alho </span>&COPY; 2023</p>
      <p>Feito por <a href="https://github.com/Cassielvdd">Pedro Cassiel</a></p>
    </footer>
  </body>
</html>